/* --- RESET CSS --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  color: #fff;
  display: flex;
  flex-direction: column;
  background-image: url("assets/background_dark.png");
  background-size: cover;
}

#back-content {
  margin: 0 auto;
  height: 100vh;
  width: 700px;
  background: #202020;
  display: flex;
  flex-direction: column;
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  gap: 20px;
}

header h1 {
  font-weight: 600;
  font-size: 40px;
}

header p {
  max-width: 400px;
  margin-top: 5px;
}

/* --- CONTENT --- */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  height: 100%;
}

input {
  width: 400px;
  height: 40px;
  background-color: #282828;
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  padding: 0 50px;
  border-style: none;
  border-bottom: 3px solid #fff;
  outline: none;
}

#submit {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 40px;
  background-color: #25d366;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 400;
}

#submit:hover {
  background-color: #188c43;
}

#submit a {
  text-decoration: none;
  color: #fff;
}

/* --- FOOTER --- */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  font-size: 15px;
  color: #e5e5e5;
}

footer img {
  height: 55.2px;
  width: 120px;
  margin-bottom: 5px;
}

footer a {
  text-decoration: underline;
  color: #e5e5e5;
}

footer a:hover {
  color: #25d366;
}
